html {
    background-color: #000;
    font-family: Helvetica;
}

.container {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    margin: 40px;
    background-color: #FFF;
}

/* cabecalho */

.cabecalho, .cabecalho p {
    text-align: center;
}

.titulo-principal {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.subtitulo-principal {
    font-style: italic;
}

/* Imagens da página */

.imagem-destaque {
    text-align: center;
}

.imagem-destaque img {
    width: 70%;
    border: 2px solid #b8860b;
}

/* Biografia */

p {
    text-align: justify;
}


/* Citação */

.citacao {
    background-color: #4779f4;
    padding: 15px;
    color: #FFF;
}

.citacao blockquote {
    font-weight: 600;
    font-style: italic;
    font-size: 25px;
    text-align: center;
}

.citacao p{
    font-style: italic;
    text-align: center;
}

/* Informações */

.informacoes-container {
    margin: 30px 0;
    border-top: 1px dashed #b8860b;
}

.informacoes-container li {
    list-style: square;
    height: 30px;
}

/* Rodapé */

.rodape {
    margin: 40px;
    border-top: 1px dashed #b8860b;
}

.rodape p {
    font-weight: bold;
    text-align: center;
}